@import "tailwindcss";

@theme {
    /* this defines the "primary" color for v4 */
    --color-primary: #137fec;

    /* The light gray used for borders and backgrounds */
    --color-border-subtle: #f0f2f4;
    --color-text-muted: #617589;
    --color-text-main: #111418;

    /* Background colors */
    --color-background-light: #f6f7f8;
    --color-background-dark: #101922;

    --color-success: #10b981;
}

@layer base {
    body {
        @apply transition-colors duration-200;
    }
}

@keyframes pulse-dash {
    to {
        stroke-dashoffset: 0;
    }
}

.animate-pulse-line {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: pulse-dash 2s linear infinite;
}